
html, body {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
}

body.create {
    padding: 20px;
}

.create textarea {
    width: 90%;
    height: 300px;
    display:block;
}

.create input {
    margin-top: 10px;
}

.person {
    float :left;
    width: 110px; /* h:w = 1.9 */
    height: 218px;
    overflow: hidden;
    text-align: center;
/*    border: solid 1px black;*/
    margin: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.person .image {
    width: 110px; /* h:w = 1.25 */
    height: 137px;
    overflow: hidden;
}

.person img {
    width: 110px;
}

.google input.url {
    width: 650px;
}
