
body.create {
    padding: 20px;
}

.create textarea {
    width: 90%;
    height: 300px;
    display:block;
}

.create input {
    margin-top: 10px;
}

.person {
    float :left;
    width: 200px;
    height: 375px;
    padding: 5px;
    margin: 5px;
    overflow: hidden;
    text-align: center;
}

.person img {
    width: 190px;
    margin: 5px;
}
