
body.create {
    padding: 20px;
}

.create textarea {
    width: 90%;
    height: 300px;
    display:block;
}

.create input {
    margin-top: 10px;
}

.person {
    float :left;
    width: 160px;
    height: 330px;
    overflow: hidden;
    text-align: center;
    border: solid 1px black;
    margin: 10px;
}

.person img {
    width: 160px;
}
